[% IF objects && objects.size > 0 %]
    <div>
      <table id='qcList'>
      <thead>
        <tr>
          <td>Name</td>
          <td>Value</td>
          <td>Type</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
      [% FOREACH qc = objects %]
        <tr>
          <td>[% qc.name | html %]</td>
          <td>[% qc.value | html %]&nbsp;</td>
          <td>[% qc.type | html %]&nbsp;</td>
          <td><a href="[% c.uri_for("/assayqcvalue/view/$qc.id") | html %]">View</a>
            <a href="[% c.uri_for("/assayqcvalue/edit/$qc.id") | html %]">Edit</a> 
            <a href="[% c.uri_for("/assayqcvalue/delete/$qc.id") | html %]"
               onclick="return confirm('Really delete qc value for [% qc.name | html %] ?');">Delete</a></td>        
        </tr>
      [% END %] 
      </tbody>
      </table>
    </div>
    <script type="text/javascript">
        DHTMLSuite.include("tableWidget"); 
    </script>
    <script type="text/javascript">
        var tableWidgetObj = new DHTMLSuite.tableWidget();
        tableWidgetObj.setTableId('qcList');
        tableWidgetObj.setTableHeight('250');
        tableWidgetObj.setColumnSort(Array('S',false,'S',false));
        tableWidgetObj.init();
        tableWidgetObj.sortTableByColumn(0); // Initially sort the table by the first column
    </script>
[% ELSE %] 
    <p>None</p> 
[% END %] 
