[% META title = 'Test Results' %] 

<ul>
   <li><a href="[% c.uri_for("/testresult/list") %]">Global list of all test results</a></li>
   <ul><li>List by Test:</li>
      <ul>
        [% FOREACH test = tests.sort('name') %]
          <li><a href="[% c.uri_for("/testresult/list_by_test", test.id) %]">[% test.name %]</a></li>
        [% END %]
      </ul>
   </ul>
</ul>

<p><a href="[% c.uri_for("/") %]">Back to main page...</a></p>
