[% META title = 'Tests List' %]

<fieldset class="data_view">
<legend>Tests <span><a href="[% c.uri_for("/test/add") | html %]">Add</a></span></legend>
[% IF objects && objects.size > 0 %]
    <div>
    <table id='testList'>
    <thead>
      <tr>
        <td>Name</td>
        <td>Controlled Values</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
    [% FOREACH test = objects.sort('name') %] 
        <tr> 
        <td> [% test.name | html %] </td>
        <td> [% IF test.test_possible_values.defined %]
                YES
             [% ELSE %]
                no
             [% END %] </td>
        <td> <a href="[% c.uri_for("/test/edit/$test.id") | html %]">Edit</a>
             <a href="[% c.uri_for("/test/delete/$test.id") | html %]"     
             onclick="return confirm('Really delete test [% test.name %] ?');">Delete</a> </td>
        </tr> 
    [% END %]
    </tbody>
    </table>
    </div>
    <script type="text/javascript">
        DHTMLSuite.include("tableWidget"); 
    </script>
    <script type="text/javascript">
        var tableWidgetObj = new DHTMLSuite.tableWidget();
        tableWidgetObj.setTableId('testList');
        tableWidgetObj.setTableHeight(800);
        tableWidgetObj.setColumnSort(Array('S','S',false));
        tableWidgetObj.init();
        tableWidgetObj.sortTableByColumn(0); // Initially sort the table by the first column
    </script>
[% ELSE %] 
    <p>No clinical tests yet!</p> 
[% END %]
</fieldset>
