[% META title = 'Sample List' %]

[% IF container %]
    <p> Listing samples for [% container.date | html %]</p>
[% END %]

<fieldset class="data_view">
<legend>Samples <span><a href="[% c.uri_for("/sample/add_to_visit", container.id) | html %]">Add</a></span></legend>
[% INCLUDE app/samples_list.tt2 %]
</fieldset>
