[% META title = 'Clinical Test Details' %]

<fieldset class="data_view">
<legend>Clinical Test <span><a href="[% c.uri_for("/test/edit", object.id) | html %]">Edit</a></span></legend>
<table id="testInfo" class="horizontal">
  <tbody>
     <tr><th>Test Name:</th>
         <td>[% object.name | html %]</td></tr>
     <tr><th>Controlled Values:</th>
         <td>[% IF object.possible_values.blessed %]
               [% SET objects = [ object.possible_values ] %]
             [% ELSE %]
               [% SET objects = object.possible_values.list %]
             [% END %]
             [% FOREACH value = objects %]
               [% value.value | html %]</br>
             [% END %]
         </td></tr>
  </tbody>
</table>
</fieldset>
