[% META title="Log in" %]

[% form %]

<div class="thawte_seal">
  <table width="10" border="0" cellspacing="0" align="center">
    <tr>
      <td>
        <script src="https://siteseal.thawte.com/cgi/server/thawte_seal_generator.exe"></script>
      </td>
    </tr>
    <tr>
      <td height="0" align="center">
        <a style="color:#AD0034" target="_new"
        href="http://www.thawte.com/digital-certificates/">
         <span style="font-family:arial; font-size:8px; color:#AD0034">
          ABOUT SSL CERTIFICATES</span></a>
      </td>
    </tr>
  </table>
</div>

[% IF c.config.authentication.realms.raven.defined %]
Alternatively, log in using the <a href="[% c.uri_for('/raven_login') %]">University Raven system</a>.
[% END %]