[% META title = 'Hospitalisation List' %]

[% IF container %]
    <p> Listing hospitalisation events for [% container.firstname | html %] [% container.surname | html %] </p>
[% END %]

<fieldset class="data_view">
<legend>Hospitalisations <span><a href="[% c.uri_for("/hospitalisation/add_to_patient", container.id) | html %]">Add</a></span></legend>
[% INCLUDE app/hospitalisation_list.tt2 %]
</fieldset>
