[% META title = 'Assay QC Value Details' %]

<h3>Assay QC value for assay [% object.assay_id.identifier | html %]</h3>

<fieldset class="data_view">
<legend>Assay QC Value <span><a href="[% c.uri_for("/assayqcvalue/edit", object.id) %]">Edit</a></span></legend>
<table class="horizontal">
<tr><th>Name:</th>
    <td>[% object.name | html %]</td></tr>
<tr><th>Value:</th>
    <td>[% object.value | html %]</td></tr>
<tr><th>Type:</th>
    <td>[% IF object.type.defined -%]
          [%- object.type | html -%]
        [%- ELSE %] N/A [% END %]</td></tr>
</table>
</fieldset>

