[% DEFAULT tableCount = 1 %]
[% DEFAULT tableHeight = 120 %]
[% IF objects && objects.size > 0 %]
  <div>
    <table id="drugList[% tableCount %]">
      <thead>
        <tr>
          <td>Drug Name</td>
          <td>Drug Locale</td>
          <td>Drug Type</td>
          <td>Drug Dosage</td>
          <td>Dose Units</td>
          <td>Dose Frequency</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
      [% FOREACH drug IN objects.sort('name') %]
        <tr> 
          <td> [% drug.name | html %] </td>
          <td>
          [% IF drug.locale_id.defined %]
            [% drug.locale_id.value | html %]
          [% ELSE %]
            N/A
          [% END %]
          </td>
          <td>
          [% IF drug.type_id.defined %]
            [% drug.type_id.value | html %]
          [% ELSE %]
            N/A
          [% END %]
          </td>
          <td> [% drug.dose | format('%.2f') | html %] &nbsp; </td>
          <td>
          [% IF drug.dose_unit_id.defined %]
            [% drug.dose_unit_id.value | html %]
          [% ELSE %]
            N/A
          [% END %]
          </td>
          <td>
          [% IF drug.dose_freq_id.defined %]
            [% drug.dose_freq_id.value | html %]
          [% ELSE %]
            N/A
          [% END %]
          </td>
        <td><a href="[% c.uri_for("/drug/view/$drug.id") | html %]">View</a>
            <a href="[% c.uri_for("/drug/edit/$drug.id") | html %]">Edit</a> 
            <a href="[% c.uri_for("/drug/delete/$drug.id") | html %]"
               onclick="return confirm('Really delete [% drug.name | html %] drug entry ?');">Delete</a></td>        
        </tr>
      [% END %]
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
      DHTMLSuite.include("tableWidget"); 
  </script>
  <script type="text/javascript">
      var tableWidgetObj = new DHTMLSuite.tableWidget();
      tableWidgetObj.setTableId('drugList[% tableCount %]');
      tableWidgetObj.setTableHeight('[% tableHeight %]');
      tableWidgetObj.setColumnSort(Array('S','S','S',false,false,false,false,false));
      tableWidgetObj.init();
      tableWidgetObj.sortTableByColumn(0); // Initially sort the table by the first column
  </script>
[% ELSE %]
  <p>None</p>
[% END %]
