[% META title = 'Drug Treatment Details' %]

<h3>[% object.name_id.value | html -%] ([% object.locale_id.value | replace('_+', '-') | html %])</h3>

<fieldset class="data_view">
<legend>Drug Treatment <span><a href="[% c.uri_for("/drug/edit", object.id) | html %]">Edit</a></span></legend>
<table id="drugInfo" class="horizontal">
  <tbody>
     <tr><th>Drug Name:</th>
         <td>[% object.name_id.value | html %]</td></tr>
     <tr><th>Drug Locale:</th>
         <td>[%- IF object.locale_id.defined -%]
               [%- object.locale_id.value | html -%]
             [%- ELSE -%]
               N/A
             [%- END -%]</td></tr>
     <tr><th>Dose:</th>
         <td>[% IF object.dose.defined -%]
               [%- object.dose | format('%.1f') | html -%]
               [%- IF object.dose_unit_id.defined -%]
                 &nbsp;[%- object.dose_unit_id.value | html -%]
               [%- END -%]
             [%- ELSE %]
               N/A
             [% END %]</td></tr>
     <tr><th>Dose Frequency:</th>
         <td>[%- IF object.dose_freq_id.defined -%]
               [%- object.dose_freq_id.value | html -%]
             [%- ELSE -%]
               N/A
             [%- END -%]</td></tr>
     <tr><th>Duration:</th>
         <td>[% IF object.dose_duration.defined -%]
               [%- object.dose_duration | format('%.1f') | html -%]
               [%- IF object.duration_unit_id.defined -%]
                 &nbsp;[%- object.duration_unit_id.value | html -%]
               [%- END -%]
             [%- ELSE %]
               N/A
             [% END %]</td></tr>
     <tr><th>Dose Regime:</th>
         <td>[%- object.dose_regime | html -%]</td></tr>
  </tbody>
</table>
</fieldset>
