[% META title = 'Sample assay report' %]

[% IF visitdata && visitdata.size > 0 %]
  [% IF study_type.defined %]
    <h4>Listing by study type; all "[% study_type %]" samples</h4>
  [% END %]
  [% IF platform.defined %]
    <h5>Platform type: [% platform %]</h5>
  [% END %]
  
<p class="text">Cell type with:
   <font color="[%- site.rgb.green -%]">all assays run</font>;
   <font color="[%- site.rgb.orange -%]">partial assays run</font>;
   <font color="[%- site.rgb.red -%]">no assays run</font>;
   <font color="[%- site.rgb.grey2 -%]">missing sample</font>
   <font color="[%- site.rgb.black -%]">sample not good</font>
</p>

<table class="bigtable">
  <tr>
  <th>TRIAD ID</th>
  <th>Visit Date</th>
  <th>Timepoint</th>
  [% FOREACH ct = celltypes -%]
    <th>[% ct %]</th>
  [%- END %]
  </tr>
[% FOREACH row = visitdata %]
  <tr>
  <td><a href="[% c.uri_for("/patient/view", row.visit.patient_id.id) %]">[% row.visit.patient_id.trial_id | html %]</a></td>
  <td><a href="[% c.uri_for("/visit/view", row.visit.id) %]">[% row.visit.date | html %]</a></td>
  <td>[% IF row.visit.nominal_timepoint_id.defined -%]
        [%- row.visit.nominal_timepoint_id.value -%]
      [%- ELSE %]&nbsp;[% END %]</td>
  [% FOREACH ct = celltypes -%]
    [%- SET type = ct -%]
    [%- SET cellcol = site.rgb.grey2 -%]
      [%- IF row.expired.$type -%]
        [%- SET cellcol = site.rgb.black -%]
      [%- ELSE -%]
        [%- IF row.sample.$type.defined -%]
          [%- IF row.sample.$type >= 1 -%]
            [%- SET cellcol = site.rgb.green -%]
          [%- ELSE -%]
            [%- IF row.sample.$type > 0 -%]
              [%- SET cellcol = site.rgb.orange -%]
            [%- ELSE -%]
              [%- SET cellcol = site.rgb.red -%]
            [%- END -%]
          [%- END -%]
        [%- END -%]
      [%- END -%]
    <td bgcolor="[% cellcol %]">&nbsp;</td>
  [%- END %]
  </tr>  
[% END %]
</table>

[% ELSE %] 
    <p>No clinical visits linked to this study type yet.</p> 
[% END %] 
