[% META title = "Search for samples" %]

    <script type="text/javascript">
        DHTMLSuite.include("calendar"); 
    </script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/calendar-popup.js')%]"></script>

<h3>Searching sample information</h3>

[% form %]
