[% META title = 'Prior Group Details' %]

<fieldset class="data_view">
<legend>Prior Group <span><a href="[% c.uri_for("/priorgroup/edit", object.id) | html %]">Edit</a></span></legend>
<table id="priorGroupInfo" class="horizontal">
  <tbody>
     <tr><th>Name:</th>
         <td>[% object.name | html %]</td></tr>
     <tr><th>Type:</th>
         <td>[% object.type_id.value | html %]</td></tr>
  </tbody>
</table>
</fieldset>
