[% META title = 'Visit List' %]

[% IF container %]
    <p> Listing visits for [% container.firstname | html %] [% container.surname | html %] </p>
[% END %]

<fieldset class="data_view">
<legend>Visits <span><a href="[% c.uri_for("/visit/add_to_patient", container.id) | html %]">Add</a></span></legend>
[% INCLUDE app/visit_list.tt2 %]
</fieldset>

