[% META title = 'Transplant List' %]

[% IF container %]
    <p> Listing transplants for [% container.date | html %]</p>
[% END %]

<fieldset class="data_view">
<legend>Transplants <span><a href="[% c.uri_for("/transplant/add_to_patient", container.id) | html %]">Add</a></span></legend>
[% INCLUDE app/transplants_list.tt2 %]
</fieldset>
