[% META title = 'Assay List' %] 

<a href="[% c.uri_for("/assay/search") | html %]">Search assay information</a>

[% IF objects.defined %]
<fieldset class="data_view">
<legend>Assays</legend>
  [% SET tableHeight = 25 * objects.size + 50 %]
  [% IF tableHeight > 800 %][% SET tableHeight = 800 %][% END %]
  [% INCLUDE app/assays_list.tt2 %]
</fieldset>
<div class="linklist">
  <ul>
    <li><a href="[% c.uri_for("/assay/list") | html %]">Assay batch list</a></li>
  </ul>
</div>

[% ELSE %]
  [% IF batches.defined && batches.size > 0 %]
  <fieldset class="data_view">
  <legend>Assay Batches</legend>
    [% SET objects = batches %]
    [% SET tableHeight = 25 * objects.size + 50 %]
    [% IF tableHeight > 800 %][% SET tableHeight = 800 %][% END %]
    [% INCLUDE app/assay_batches_list.tt2 %]
  </fieldset>
  [% END %]
[% END %]
