[% META title = 'Assay Details' %]

<h3>Assay [% object.identifier | html %], performed on [% object.assay_batch_id.date %]</h3>

<fieldset class="data_view">
<legend>Assay <span><a href="[% c.uri_for("/assay/edit", object.id) %]">Edit</a></span></legend>
<table class="horizontal">
<tr><th>Identifier:</th>
    <td>[% object.identifier | html %]</td></tr>
<tr><th>Batch date:</th>
    <td><a href="[% c.uri_for("/assaybatch/view", object.assay_batch_id.id) %]">
          [% object.assay_batch_id.date | html %]</a></td></tr>
<tr><th>Batch name:</th>
    <td>[% object.assay_batch_id.name | html %]</td></tr>
<tr><th>Filename:</th>
    <td>[% IF object.filename.defined -%]
          [%- object.filename | html -%]
        [%- ELSE %] N/A [% END %]</td></tr>
<tr><th>Operator:</th>
    <td>[% object.assay_batch_id.operator | html %]</td></tr>
<tr><th>Notes:</th>
    <td>[% object.notes | html | html_line_break %]</td></tr>
</table>
</fieldset>

<fieldset class="data_view">
<legend>Channels</legend>
[% IF object.channels_rs.count == 1 %]
  [% SET objects = [ object.channels ] %]
[% ELSE %]
  [% SET objects = object.channels.list %]
[% END %]
[% INCLUDE app/assay_channels_list.tt2 %]
</fieldset>

<fieldset class="data_view">
<legend>QC <span><a href="[% c.uri_for("/assayqcvalue/add_to_assay", object.id) %]">Add</a></span></legend>
[% IF object.assay_qc_values_rs.count == 1 %]
  [% SET objects = [ object.assay_qc_values ] %]
[% ELSE %]
  [% SET objects = object.assay_qc_values.list %]
[% END %]
[% INCLUDE app/assay_qc_list.tt2 %]
</fieldset>
